<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.requestEnd>
        <processor type="PageExtender.Business.Pipelines.RequestEnd.PageExtender, PageExtender.Business" patch:before="processor[@type='Sitecore.Mvc.ExperienceEditor.Pipelines.Request.RequestEnd.AddPageExtenders, Sitecore.Mvc.ExperienceEditor']" />
      </mvc.requestEnd>
    </pipelines>
  </sitecore>
</configuration>