<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <PageExtender.RenderPageExtenders>
        <processor type="PageExtender.Business.Pipelines.PageExtender.RenderPageExtenders.GoogleAnalyticsRenderPageExtender, PageExtender.Business">
          <filters hint="raw:AddFilter">
            <filter filterKey="name" filterValue="website" razorViewName="GoogleAnalyticsView"/>            
          </filters>          
        </processor>
      </PageExtender.RenderPageExtenders>
    </pipelines>
  </sitecore>
</configuration>